@model MuratDogan.Model.Projeler

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Projeler</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ProjeAdi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProjeAdi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProjeIcerik)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProjeIcerik)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TamamlanmaTarihi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TamamlanmaTarihi)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
